a{
    text-decoration: none;
    color: inherit;
}

body{
    color: white;
    background: #10171E;
}

.artist-preview{
    height: 150px;
    width: 150px;
    vertical-align: middle;
    margin: 5px 0 5px 0;
    border-radius: 50%;
}

.album-image{
    height: 200px;
    width: 200px;
    vertical-align: text-top;
    margin: 5px 0 5px 0;
}

.tag{
    padding: 2px 2px;
    border-radius: 8px;
    text-decoration: none;
    margin: 2px;
    color: inherit;
    background: black;
}