a{
    text-decoration: none !important;
    color: inherit;
}

body{
    background: #10171E;
    padding-top: 50px;
    color: white;
}

input{
    color: black;
}

.artist-preview{
    height: 150px;
    width: 150px;
    vertical-align: middle;
    margin: 5px 0 5px 0;
    border-radius: 50%;
}

.no-text-overflow{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.album-image{
    height: 200px;
    width: 200px;
}

.label { text-align: right}

.header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px 10px 0px 0px;
}

.tag{
    padding: 2px 2px;
    border-radius: 8px;
    text-decoration: none;
    margin: 2px;
    background: black;
}